body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:149px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:75px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:193px;
  top:0px;
  width:397px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:393px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:75px;
  height:84px;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u8 {
  position:absolute;
  left:2px;
  top:33px;
  width:71px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:75px;
  top:30px;
  width:118px;
  height:84px;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u10 {
  position:absolute;
  left:2px;
  top:33px;
  width:114px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:193px;
  top:30px;
  width:397px;
  height:84px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:393px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:114px;
  width:75px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:75px;
  top:114px;
  width:118px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:193px;
  top:114px;
  width:397px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
